*,
*::before,
*::after,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: var(--dark-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
